{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}
Listagem de Produtos
{% endblock title %}

{% block content %}

<div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>Descrição do Produto</th>
                <th>Preço do Produto</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}