{% extends 'base.html' %}
 
{% block title %}
Listagem de Produtos
{% endblock title %}
 
{% block content %}
 
<form method="get">
    <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" name="busca" placeholder="Buscar produto">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Pesquisar</button>
      </span>
    </div>
    </div>
</form>
<div class="col-lg-12">
<table class="table">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Marca</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for produto in lista %}
    <tr>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.preco }}</td>
      <td>{{ produto.marca }}</td>
      <td>
        <a href="{% url 'editar_produto' pk=produto.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a href="{% url 'deletar_produto' pk=produto.pk %}">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'criar_produto' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>
</div>
{% endblock content %}